__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.git
.gitignore
.pytest_cache
.coverage
htmlcov/
.cache
node_modules/
staticfiles/
*.db
.DS_Store
.tickets/
docs/
flake.nix
