{% extends "site_page.html" %}{% load static %}

{% load pictures %}
{% load blog_tags %}

{% block title %}{{ sketch.name }} - P5 Sketch - Bruce Kroeze{% endblock %}

{% block extrahead %}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ sketch.name }} - P5 Sketch - Bruce Kroeze" />
<meta property="og:description" content="{% if sketch.description %}{{ sketch.description }}{% endif %}" />
<meta property="og:site_name" content="Bruce Kroeze's Weblog" />
<style>
#canvas-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    border: 1px solid #ddd;
}

#canvas-container > div {
    margin: 1rem;
}

.center {
    text-align: center;
}

</style>
{% endblock %}

{% block primary %}
<div class="ui container">
     <h1 class="ui header">
        {{ sketch.name }}
    </h1>

    {% if sketch.description %}
    <div class="ui segment">
        {{ sketch.description }}
    </div>
    {% endif %}

    <div id="canvas-container">
      <div class="frm-corner-weave">
        <div id="{{ sketch.slug }}" data-height="600" data-width="800"></div>
      </div>
    </div>

    <script src="{% static 'js/p5/p5.min.js' %}"></script>
    <script src="{% static script_url %}"></script>
</div>  
{% endblock %}

{% block secondary %}
<div class="ui container" style="margin-top: 2rem;">
    <p class="center"><strong>Name:</strong> {{ sketch.name }}</p>
</div>
{% endblock %}
