<!DOCTYPE html>{% load static %}
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block rel_canonical %}<link rel="canonical" href="https://artful.one{{ request.path }}">{% endblock %}
<title>{% block title %}{% endblock %}</title>
<link rel="alternate" type="application/atom+xml" title="Atom" href="/atom/everything/">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>
<meta name="author" content="Bruce Kroeze">
<meta property="og:site_name" content="Bruce Kroeze's Weblog">
<style>
  :root {
    --site-accent-color: #8b8383;
    --site-accent-light: rgba(139, 131, 131, 0.1);
    --site-accent-shadow: rgba(139, 131, 131, 0.3);
  }
</style>
{% block extrahead %}{% endblock %}

</head>
<body {% block body_class %}{% endblock %}>
{% block body %}{% endblock %}

<script>
document.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('h4[id],h5[id],h6[id]').forEach(el => {
    const id = el.getAttribute('id');
    const permalinkContext = el.closest('[data-permalink-context]');
    if (permalinkContext) {
      const url = permalinkContext.getAttribute('data-permalink-context');
      const hashLink = document.createElement('a');
      hashLink.style.borderBottom = 'none';
      hashLink.style.color = '#666';
      hashLink.style.fontSize = '1em';
      hashLink.style.opacity = 0.8;
      hashLink.setAttribute('href', url + '#' + id);
      hashLink.innerText = '#';
      el.appendChild(document.createTextNode('\u00A0'));
      el.appendChild(hashLink);
    }
  });
});
</script>
<script type="module">
  const config = [
    {"tag": "lite-youtube", "js": "/static/lite-yt-embed.js", "css": "/static/lite-yt-embed.css"}
  ];
  for (const {tag, js, css} of config) {
    if (document.querySelector(tag)) {
      if (css) {
        document.head.appendChild(
          Object.assign(document.createElement('link'), {
            rel: 'stylesheet',
            href: css
          })
        );
      }
      if (js) {
        await import(js);
      }
    }
  }
</script>
</div>
</body>
</html>
