{% extends "site_page.html" %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block extrahead %}
  {% include "includes/htmx.html" %}
  <link rel="stylesheet" href="{% static 'contact/retro-futurism.css' %}">
  <script defer src="{% static 'contact/retro-futurism.js' %}"></script>
{% endblock %}

{% block primary %}
<div class="ui stackable two column grid hero contact-page">
  <div class="row">
    <div class="column contact-intro">
      <h1>Engage me for a project</h1>
      <div class="contact-statements frm-nested-corner">
        <p class="title-font" style="font-weight: bold; font-size: 1.2em;">Bruce Kroeze</p>
        <p class="title-font" style="font-weight: bold; font-size: 1.1em;">Artful.one Consulting</p>
        <p>E-Commerce Specialist</p>
        <p>Full-Stack-Development</p>
        <p>32 years</p>
        <p>Portland, Ore.</p>
      </div>
      {% include "includes/contact_animation.html" %}
    </div>
    <div class="column">
      {% include "includes/contact_form.html" %}
    </div>
  </div>
</div>
{% endblock %}
