{% extends "item_base.html" %}
{% load entry_tags %}
{% load blog_tags %}
{% load pictures %}
{% block title %}{{ entry.title|typography }}{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ entry.extra_head_html|default:""|safe }}
<style>
.entry-photo {
  float: left;
  margin: 0 1.75rem 0.75rem 0;
  max-width: min(100%, var(--entry-photo-width, 260px));
}

.entry-photo img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 640px) {
  .entry-photo {
    float: none;
    margin: 0 0 1rem;
    max-width: 100%;
  }
}
</style>
{% endblock %}

{% block card_title %}{{ entry.title|typography }}{% endblock %}
{% block card_description %}{% spaceless %}{% if entry.is_markdown %}{{ entry.body|markdownify|xhtml|remove_context_paragraph|typography|xhtml2html|striptags|truncatewords:30|force_escape }}{% else %}{{ entry.body|xhtml|remove_context_paragraph|typography|striptags|truncatewords:30|force_escape }}{% endif %}{% endspaceless %}{% endblock %}

{% block item_content %}
<div data-permalink-context="{{ entry.get_absolute_url }}">
<h2 class="ui header">{{ entry.title|typography }}</h2>
<p class="mobile-date">{{ entry.created|date:"jS F Y" }}</p>

{% include "_draft_warning.html" %}

{% if entry.photo and entry.photo.image %}
<figure class="entry-photo frm-blocky-picture"{% if entry.picture_size %} style="--entry-photo-width: {{ entry.picture_size }}px;"{% endif %}>
  {% picture entry.photo.image container=entry.picture_size picture_id=entry.photo.html_id img_alt=entry.photo.title|default:entry.title img_loading="lazy" %}
</figure>
{% endif %}

{% if entry.is_markdown %}
{{ entry.body|markdownify|xhtml|resize_images_to_fit_width:"450"|typography|xhtml2html }}
{% else %}
{{ entry.body|xhtml|resize_images_to_fit_width:"450"|typography|xhtml2html }}
{% endif %}

{% if updates %}
<div id="live-updates">
{% include "entry_updates.html" %}
</div>
{% endif %}
</div>
<div class="ui secondary segment entryFooter">Posted <a href="/{{ entry.created|date:"Y/M/j/" }}">{{ entry.created|date:"jS F Y" }}</a> 
  at {{ entry.created|date:"f A"|lower }} &middot; 
  Follow me on <a icon="twitter" href="https://twitter.com/bkroeze"><i class="twitter icon"></i>Twitter</a></div>
<p class="edit-page-link" data-admin-url="{{ entry.edit_url }}" style="display: none;"></p>
{% endblock %}

{% block recent_articles_header %}More recent articles{% endblock %}

{% block secondary %}
<div class="ui segments metabox">
<div class="ui segment">
<p class="this-is">This is <strong>{{ entry.title|typography }}</strong> by Bruce Kroeze, posted on <a href="/{{ entry.created|date:"Y/M/j/" }}">{{ entry.created|date:"jS F Y" }}</a>.</p>
</div>
{% if entry.series %}{% with entry.series_info as series_info %}
<div class="ui segment series-info">
  <h4 class="ui header">Part of series <a href="/series/{{ entry.series.slug }}/">{{ entry.series.title }}</a></h4>
  <div class="ui ordered list">
    {% for other in series_info.entries %}
      {% if other.pk == entry.pk %}
        <div class="item"><strong>{{ other }}</strong> - {{ other.created }}</div>
      {% else %}
        <div class="item"><a href="{{ other.get_absolute_url }}">{{ other }}</a> - {{ other.created }}</div>
      {% endif %}
    {% endfor %}
    {% if series_info.has_next %}<div class="item" style="list-style-type: none;"><a href="/series/{{ entry.series.slug }}/">&#8230; more</a></div>{% endif %}
  </div>
</div>
{% endwith %}{% endif %}
<div class="ui segment">
{% include "_tags.html" with obj=entry %}
</div>
{% with entry.next_by_created as next_entry %}{% if next_entry %}
<div class="ui segment">
<p><strong>Next:</strong> <a href="{{ next_entry.get_absolute_url }}">{{ next_entry.title }}</a></p>
</div>
{% endif %}{% endwith %}
{% with entry.previous_by_created as previous_entry %}{% if previous_entry %}
<div class="ui segment">
<p><strong>Previous:</strong> <a href="{{ previous_entry.get_absolute_url }}">{{ previous_entry.title }}</a></p>
</div>
{% endif %}{% endwith %}
<div class="ui segment">
<div data-ea-publisher="artfulone" data-ea-type="image"></div>
</div>
</div>

{% if entry.tweet_html %}{{ entry.tweet_html|safe }}{% endif %}
{% endblock %}

{% block footer %}
{% if previously_hosted %}<p id="previouslyhosted">Previously hosted at {{ previously_hosted }}</p>{% endif %}
{{ block.super }}
{% if entry.tweet_html %}<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>{% endif %}
{% endblock %}
