{% extends "base.html" %}

{% block html_class %}class="artistic"{% endblock %}
{% block body_class %} class="smallhead"{% endblock %}

{% block body %}
<div class="ui vertical masthead center aligned segment" style="margin-bottom: 1rem;">
  <div class="ui container">
      <div class="ui large secondary pointing menu top">
          <a class="item" href="/">Artful.One</a>
      </div>      
  </div>
</div>
<div class="ui container">
<div id="primary" class="ui container">
  {% block primary %}{% endblock %}
</div>
<div id="secondary" class="ui container">
  {% block secondary %}{% endblock %}
</div>
</div>

{% block footer %}
    <div class="ui vertical footer segment" style="margin-top: 1rem;">
        <div class="ui container">
            <div class="ui large secondary pointing menu bottom">
                <a class="item">&copy; Bruce Kroeze</a>
                {% for year in years_with_content %}<a class="item" href="/{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a>
                {% endfor %}
                <a class="right item" href="/atom/everything/" title="Atom Feed">
                    <i class="rss icon"></i> Atom Feed
                </a>
            </div>
        </div>
    </div>
{% endblock footer %}
{% endblock %}
