{% extends "base.html" %}

{% block html_class %}class="artistic"{% endblock %}
{% block body_class %}class="pushable"{% endblock %}

{% block body %}
{% load blog_tags %}
<!-- following menu -->
<div class="ui large top fixed hidden menu transition">
    <div class="ui container">
        <a class="item" href="/">Artful.One</a>
        <a class="item" href="/about/">About</a>
        <a class="item" href="/art/">Art</a>
        <div class="ui dropdown item">
            Coding <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'rpg:names' %}">Name Maker</a>
                <a class="item" href="{% url 'rpg_chargen:supers' %}">Names &amp; Backstory</a>
            </div>
        </div>
        <a class="item" href="/search/">Search</a>
    </div>
</div>
<!-- sidebar menu -->
<div class="ui vertical sidebar menu">
    <a class="item" href="/">Artful.One</a>
    <a class="item" href="/about/">About</a>
    <a class="item" href="/art/">Art</a>
    <div class="ui dropdown item">
        Coding <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="{% url 'rpg:names' %}">Name Maker</a>
            <a class="item" href="{% url 'rpg_chargen:supers' %}">Names &amp; Backstory</a>
        </div>
    </div>

    <a class="item" href="/search/">Search</a>
    <a class="item" href="/atom/everything/" title="My Atom feed">
        <i class="rss icon"></i> Atom Feed
    </a>
</div>
<!-- main content -->
<div class="pusher">
    <div class="ui vertical masthead center aligned segment" style="margin-bottom: 1rem;">
        <div class="ui container black-squares">
            <div class="ui large secondary pointing menu top">
                <a class="toc item"><i class="sidebar icon"></i></a>
                <a class="item" href="/">Artful.One</a>
                <a class="item" href="/about/">About</a>
                <a class="item" href="/art/">Art</a>
                <div class="ui dropdown item">
                    Coding <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{% url 'rpg:names' %}">Name Maker</a>
                        <a class="item" href="{% url 'rpg_chargen:supers' %}">Names &amp; Backstory</a>
                    </div>
                </div>
                <div class="right item">
                    <form action="/search/" method="GET">
                        <div class="ui transparent icon input">
                            <input type="search" placeholder="Search..." name="q" value="">
                            <i class="search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="primary" class="ui container">
        {% block primary %}{% endblock %}
    </div>
    <div id="secondary" class="ui container">
        {% block secondary %}{% endblock %}
    </div>
    <div id="thirdsection" class="ui container"></div>

    {% block footer %}
    <div class="ui vertical footer segment" style="margin-top: 1rem;">
        <div class="ui container">
            <div class="ui large secondary pointing menu bottom">
                <a class="item">&copy; Bruce Kroeze</a>
                {% for year in years_with_content %}<a class="item" href="/{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a>
                {% endfor %}
                <a class="right item" href="/atom/everything/" title="Atom Feed">
                    <i class="rss icon"></i> Atom Feed
                </a>
            </div>
        </div>
    </div>
    {% endblock footer %}
</div>

<style>
/* Mobile responsive menu styles */
@media only screen and (max-width: 767px) {
    .masthead .ui.menu .toc.item {
        display: block !important;
    }
    .masthead .ui.menu > .item:not(.toc):not(:first-child),
    .masthead .ui.menu > .right.item {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .masthead .ui.menu .toc.item {
        display: none !important;
    }
}
</style>

<script>
$(document).ready(function() {
    // Create sidebar
    $('.ui.sidebar')
        .sidebar('attach events', '.toc.item');

    // Initialize dropdowns
    $('.ui.dropdown').dropdown();

    // Show fixed menu on scroll
    $('.masthead')
        .visibility({
            once: false,
            onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
            },
            onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
            }
        });

    // Make search icon submit the form
    $('.ui.icon.input .search.icon').on('click', function() {
        $(this).closest('form').submit();
    });
});
</script>
{% endblock body %}
